
<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    This website was built by <a target="_blank" href="https://github.com/broof716/Bryan-Roof">Bryan</a>. He is one who wants to create web applicaitions and become a full-stack web developer.
  </p>
  <br />
  <p>
    With all the the tools being provided in the classroom. Bryan will become a full-stack web developer for a world wide company!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="btn btn-primary">
  <%= link_to "EDITMEHERE", "www.google.com", :class => "btn" %>
</div>

</div>