
<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    This website was built by <a target="_blank" href="https://github.com/broof716/Bryan-Roof">Bryan</a>. He is one who wants to create web applicaitions and become a full-stack web developer.
  </p>
  <br />
  <p>
    With all the the tools being provided in the classroom. Bryan will become a full-stack web developer for a world wide company!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'bryan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Bryan Roof</h2>
      <br />
      <p>
       Bryan Roof is currently working on becoming a full-stack web developer.  He is one that learns fast and puts a great amount of time into something to succeed.
      </p>
    </div>
  </div>

</div>